body {
    font-family: "TT Lakes";
    background-color: #F8F8F8;
    margin: 0;
    overflow-x: hidden;
}

.header {
    background-color: white;
}

.header__list {
    display: flex;
    justify-content: left;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 17px;
    margin-top: 0;

    overflow-x: auto;

    scrollbar-width: none;
    
}

.header__list::-webkit-scrollbar {
    display: none;
} 


.header__item {
    min-width: 40px;
} 

.header__item, .header__logo {
    list-style-type: none;
}

.header__logo {
    margin-top: 13px;
}


.header__img {
    margin-top: 13px;
    height: 40px;
    width: 40px;
}

li.header__logo {
    margin-right: auto;
    padding-right: 20px;
    vertical-align: top;
    
}

.header__item {
    margin-right: 16px;
    margin-top: 6px;
}


.header__link {
    text-decoration: none;
    display: flex;

}


.header__item--with-text{
    min-width: auto;
}

.header__link-text {

    margin-top: 19px; 
    margin-right: 5px;

    font-size: 16px;
    font-weight: 500;
    font-family: "TT Lakes";
    
    line-height: 24px;
    color: #1B1C21;
    
    width: 130px;

    display: none;

}

.header__item--with_border{
    min-width: 62px;
    margin-right: 20px;
}


.header__item--with_border::after {
    padding-right: 16.875px;
    content: "";
    display: inline-block;
    height: 32px;
    border-right: 2px solid #bdbab2;
    margin-bottom: 4px;

}


.menu__item {
    height: 40px;
    background-color: #F8F8F8;
    color: #7E7E82;
    font-size: 16px;
    font-family: "TT Lakes";
    border: 0px solid;
    padding: 0;

    padding-left: 12px;
    padding-right: 12px;
}

.menu__item:focus {
    border: 2px solid #B8FFEC;
    background-color: white;
}

.title {
    height: 40px;
    font-size: 28px;
    min-width: 250px;

}

.title--with-blue-border {
    border-left: 4px solid #41F6D7;
    padding-left: 20px;
}



.menu {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin-left: 24px;
    scrollbar-width: none;
}

.content-section__p-text {
    padding: 0;
    margin: 0;
}

.menu::-webkit-scrollbar {
    display: none;
} 

.content {
    padding-top: 32px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.content-section {
    display: flex;
    flex-flow: column;
    margin-left: 24px;
    margin-right: 0;
}


.content-section__button {
    margin-left: 10px;
    border: 0px solid #B8FFEC;
    font-size: 16px;
    font-family: "TT Lakes";
    padding: 0;
    font-weight: 500;
    min-width: 132px;
    height: 24px;
    border: 0px;
    color: #1B1C21;
    text-align: left;
    
    order: 2;
    margin-top: 10px;
    margin-bottom: 16px;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.content-section__text-button {  
    margin-top: 2px;
}


.content-section__img-button {
    padding: 0;
    margin: 0;
}

.content-section__text {
    max-height: 90px;
    overflow: hidden;
}

#text.content-section__button:focus ~ .content-section__text {
    overflow: visible;
    max-height:fit-content;
}

.content__logo { 
    margin: 0;

    margin-left: auto;
    margin-right: auto;

    border-radius: 3%;

    height: 176px;
    width: 320px;
    /* width: 320px; */
}

.menu__item {
    margin-right: 10px;
}





.sidebar {
    width: 320px;
    height: 100%;
    height: 1024px;
    max-height: 1024px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sidebar__header {
    width: 100%;
    /* background-color: transparent; */
    background-color: #F8F8F8;
    margin-bottom: 32px;
}

.sidebar__menu-item {
    font-size: 16px;
    padding-bottom: 32px;
    font-weight: 500;
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
    margin-left: 24px;

}

.sidebar__menu-item:hover {
    opacity: 0.6;
}

.sidebar__menu {
    padding: 0;
    margin: 0;
    list-style-type: none;  
}

.sidebar__title  {
    /* color: rgba(126, 126, 130, 1);
    margin-bottom: 32px;
    margin-top: 16px; */ 
}

.sidebar__menu-link {
    color: rgba(27, 28, 33, 1);
    text-decoration: none;
}

.sidebar__menu-link--active {
    color: rgba(126, 126, 130, 1);
    border-left: 4px solid #41F6D7;
    padding-left: 20px;
    
}

.sidebar__menu-item--active {
    margin-left: 0;
}



.sidebar__footer {
    display: flex;
    flex-direction: row;
 
    flex-wrap: wrap;

    list-style-type: none;

    padding: 0;

    padding-left: 24px;

    margin-top: auto;

    width: 220px;
    
}

.sidebar__footer-item {
    padding-right: 16px;
    padding-bottom: 16px;
}


.sidebar__footer-phone {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 40px;
}


.sidebar__footer-mail {
    font-size: 16px;
    font-weight: 550;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked ~ label {
    color: rgba(126, 126, 130, 1);
    
}

.sidebar__language-item {
    color: rgba(27, 28, 33, 1);
    font-size: 16px;
    font-weight: 500;
    padding-right: 7px;
}




.brand__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    height: 192px;
    overflow-y: hidden;
    max-width: 1008px;
}

.brand__item {
    
    width: 224px;
    height: 72px;
    padding: 16px 16px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 24px;
    margin-bottom: 24px;
    flex-shrink: 0;
    align-items: center;
    border: 1px solid rgba(234, 234, 234, 1);
}

.content-section__title {
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
    line-height: 24px;
    font-weight: 400;
}


.swiper {
    width: 224px; 
    height: 72px; 

    box-sizing: border-box; 
    align-items: center;

    display: none;
    margin-top: 16px;
  }

.swiper-wrapper {
    width: 224px;
    height: 72px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
}

  .swiper-slide {

    width: 224px;
    height: 72px;
    padding: 16px 16px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: center;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: 140px !important; 
    left: auto;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: 140px !important; 
    right: auto;
  }

.swiper__go {
    height: 40px;
    width: 40px;
}

.swiper-pagination {
    bottom: auto !important;
    display: none;
}

@media(min-width: 564px) {
    .content-section__text {
        max-height: 160px;
    }
    .content__logo {
         width: auto;
    }
    .content {
        flex-direction: row;
    }
    .content-section__section {
        margin-right: 24px;
    }
    .header__list {
        padding-left: 24px;
    }
}


@media(min-width: 768px) {
    .content__logo {
        height: 307px;
    }
    .header__item--with-text {
        min-width: 175px;
    }
    .header__item, .header__logo {
        display: none;
    }
    .sidebar .header__item,.sidebar .header__logo {
        display: inline;
    }
    .header__item--with-text {
        display: inline;
    }
    .header__list  {
        justify-content: right;
        background-color: #F8F8F8;
    }
    .header__link-text {
        display: inline;
    }
    .menu {
        flex-wrap: wrap;
    }
    .title {
        position: absolute;
        margin: 0;
        top: 32px;
    }
}


@media(max-width: 768px) and (min-width: 564px) {
    .content__logo {
        height: 208px;
    }
    .content-section { 
        margin-right: 0;
    }
} 

@media(max-width: 870px) and (min-width: 746px) {
    .brand__item:nth-child(3n) {
        margin-right: 0;
    }
}


@media(min-width: 1020px) {
    .brand__item:nth-child(4n) {
        margin-right: 0;
    }
}


@media(max-width: 746px) {
    .swiper {
        display: block;
    }
    .brand__list {
        display: none;
    }

    #brand.content-section__button {
        display: none;
    }
    .swiper-pagination {
        display: block;
    }
}
